<div id="carouselExampleDark" class="carousel carousel-dark slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item vh-100 active" data-bs-interval="10000">
      <div class="container-fluid h-100 d-flex justify-content-center align-items-center p-0" style="background: linear-gradient(to bottom, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)), url('assets/images/hero/img1.webp') no-repeat center/cover;">
        <!-- <img src= class="d-block w-100  object-fit-cover" alt="..."> -->
        <div class="carousel-caption text-light text-center p-0">
          <h1 class="display-4 fw-semibold">Alumni Weekend and Reunions</h1>
          <p class="fs-5">Alumni Weekend and Reunions return this November!</p>
        </div>
      </div>
    </div>
    <div class="carousel-item vh-100" data-bs-interval="2000">
      <div class="container-fluid h-100 d-flex justify-content-center align-items-center p-0" style="background: linear-gradient(to bottom, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url('assets/images/hero/img2.webp') no-repeat center/cover;">
        <!-- <img src="assets/images/hero/img2.jpg" class="d-block w-100 h-100 object-fit-cover" alt="..."> -->
        <div class="carousel-caption text-light text-center p-0">
          <h1 class="display-4 fw-semibold">From Moon to Mars</h1>
          <p class="fs-5">The journey from the Moon to Mars represents a significant step in the <br>exploration and expansion of human activities beyond Earth. </p>
        </div>
      </div>
    </div>
    <div class="carousel-item vh-100">
      <div class="container-fluid h-100 d-flex justify-content-center align-items-center p-0" style="background: linear-gradient(to bottom, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url('assets/images/hero/img3.webp') no-repeat center/cover;">
        <!-- <img src="assets/images/hero/img3.jpg" class="d-block w-100 h-100 object-fit-cover" alt="..."> -->
        <div class="carousel-caption text-light text-center p-0">
          <h1 class="display-4 fw-semibold">Code for Change</h1>
          <p class="fs-5">Code for Change the World</p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
