<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center">Stories of our Alumnis</h2>
        <p class="text-secondary mb-5 text-center lead fs-4">
          Inspiring stories of our alumni: Navigating challenges, achieving
          excellence, and redefining success.
        </p>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />
      </div>
    </div>
  </div>

  <div class="container overflow-hidden">
    <div class="row justify-content-lg-around gy-5 gy-md-6">
      <div class="col-12 col-sm-6 col-lg-5">
        <div class="col-xl-11 col-xxl-10 mx-auto text-center">
          <img
            class="img-fluid rounded rounded-circle mb-4"
            loading="lazy"
            src="assets/images/stories/testimonial-img-1.jpg"
            alt=""
          />
          <p class="mb-2">
            Renowned UI/UX designer crafting exceptional user experiences,
            setting design standards globally.
          </p>
          <p class="m-0 fw-bold">Luna John - UI/UX Designer</p>
          <br />
          <a [routerLink]="'/stories-details/' + stories[0].name"
            ><button class="btn btn-outline-dark">Read More</button></a
          >
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-5">
        <div class="col-xl-11 col-xxl-10 mx-auto text-center">
          <img
            class="img-fluid rounded rounded-circle mb-4"
            loading="lazy"
            src="assets/images/stories/testimonial-img-2.jpg"
            alt=""
          />
          <p class="mb-2">
            Versatile full-stack developer, seamlessly bridging front-end and
            back-end, transforming digital landscapes.
          </p>
          <p class="m-0 fw-bold">Mark Smith - Fullstack Developer</p>
          <br />
          <a [routerLink]="'/stories-details/' + stories[1].name"
            ><button class="btn btn-outline-dark">Read More</button></a
          >
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-5">
        <div class="col-xl-11 col-xxl-10 mx-auto text-center">
          <img
            class="img-fluid rounded rounded-circle mb-4"
            loading="lazy"
            src="assets/images/stories/testimonial-img-3.jpg"
            alt=""
          />
          <p class="mb-2">
            Esteemed backend developer, pioneering innovative solutions, and
            shaping the digital landscape worldwide.
          </p>
          <p class="m-0 fw-bold">Michael Wilson - Backend Developer</p>
          <br />
          <a [routerLink]="'/stories-details/' + stories[2].name"
            ><button class="btn btn-outline-dark">Read More</button></a
          >
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-5">
        <div class="col-xl-11 col-xxl-10 mx-auto text-center">
          <img
            class="img-fluid rounded rounded-circle mb-4"
            loading="lazy"
            src="assets/images/stories/testimonial-img-4.jpg"
            alt=""
          />
          <p class="mb-2">
            Skilled React developer, building dynamic web applications with
            cutting-edge technology and innovation.
          </p>
          <p class="m-0 fw-bold">Luke Reeves - React Developer</p>
          <br />
          <a [routerLink]="'/stories-details/' + stories[3].name"
            ><button class="btn btn-outline-dark">Read More</button></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
