<section class="py-5 bg-light">
  <h1 class="d-flex  justify-content-center ">Story about</h1>
          <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />
  <div class="container overflow-hidden bsb-author-1">
    <div class="row justify-content-center gy-4 gy-md-0">
      <div
        class="col-12 col-md-3 col-xl-2 d-flex align-items-center justify-content-center"
      >
        <img
          class="img-fluid rounded-circle author-avatar"
          loading="lazy"
          src="../../../assets/images/stories/testimonial-img-1.jpg"
          alt="Luna John"
        />
      </div>
      <div
        class="col-12 col-md-8 col-lg-6 col-xl-5 d-flex align-items-center justify-content-center"
      >
        <div class="text-center text-md-start author-content">


          <h2 class="fs-2 mb-3">Luna John</h2>
          <p class="mb-3">
            Luna John, an alumna of our web development school, embarked on a
            remarkable journey to become one of the world's finest UI/UX
            designers. Her story is one of dedication, creativity, and
            unyielding commitment to her craft.
          </p>
          <button class="btn btn-dark" routerLink="/stories">
            More Stories
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
