<div class="container-fluid bg-light">
  <div
    class="container text-center d-flex flex-column align-items-center justify-content-center py-5"
  >
    <h1>Stories of our most succesfull Alumni</h1>
    <p class="w-75">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quae neque
      laudantium iste animi debitis temporibus quas labore ex doloremque? Cum
      rerum natus magni perferendis illum distinctio itaque veniam id ea
      possimus repudiandae unde nesciunt, impedit rem minima error ab?
    </p>
    <button type="button" class="btn btn-primary px-4" routerLink="/stories">
      More stories
    </button>
  </div>
</div>
