<div class="container-fluid bg-light">
  <div
    class="container text-center d-flex flex-column align-items-center justify-content-center py-5"
  >
    <h1>Featured open positions</h1>
    <p class="w-75">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia,
      eligendi. Illo sequi, praesentium adipisci at, in aspernatur esse mollitia
      eius, porro tempora deleniti eligendi. Harum laboriosam nisi magni sint
      laudantium?
    </p>
    <button type="button" class="btn btn-primary px-4" routerLink="/about">
      Explore all positions
    </button>
  </div>
</div>
