<div class="container-fluid bg-light">
  <div
    class="container text-center d-flex flex-column align-items-center justify-content-center py-5"
  >
    <h1>Our Mission</h1>
    <p class="w-75">
      At <b>CodeAcademy Alumni</b>, our mission is to foster the success and well-being
      of every member of our community.
      <br />
      We are dedicated to advancing humanity through active participation of our
      alumni in both the <u>CodeAcademy Alumni community</u> and the communities where
      we live, work, and thrive.
    </p>
    <button type="button" class="btn btn-primary px-4" routerLink="/about">More about us</button>
  </div>
</div>
