<h2 class="text-center pt-5">Our Mission</h2>
<p class="text.muted text-center">
  Bring together alumni to create a supportive and collaborative community of
  web developers who can share experiences, insights, and resources.
</p>
<div>
  <div class="img-container d-flex justify-content-center pt-5">
    <img
      src="https://img2.storyblok.com/f/45434/1440x810/a475752161/hult-graduation2-1440x810.jpg"
      alt=""
      class="img-fluid shadow-lg"
    />
  </div>
</div>
<div>
  <h3 class="text-center pt-5">Web Developer Alumni Well-Being</h3>
</div>
<div class="container d-flex flex-column align-items-center pt-5 pb-5 px-0">
  <div class="row w-100" *ngFor="let benefitsGroup of splitBenefitsIntoGroups(); let i = index">
    <div class="col col-12 col-sm-12 col-xl-6 d-flex justify-content-center mb-4 mb-xl-0 p-0" *ngFor="let benefit of benefitsGroup">
      <div class="row h-100 w-100">
        <div class="col col-3 col-sm-2 d-flex align-items-center justify-content-center p-0">
          <i
          [class]="benefit.icon"
            style="color: #e55f06"
          ></i>
        </div>
        <div class="col col-9 col-sm-10 d-flex flex-column justify-content-center p-0">
          <h5>{{ benefit.heading }}</h5>
          <p class="m-0 pe-4">
            {{ benefit.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Team Member section -->

<section class="bg-light py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center">Our Team</h2>
        <p class="text-secondary mb-5 text-center lead fs-4">
          We are a group of innovative, experienced, and proficient teams. You
          will love to collaborate with us.
        </p>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />
      </div>
    </div>
  </div>

  <div class="container overflow-hidden">
    <div class="row gy-4 gy-lg-0 gx-xxl-5 justify-content-center">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card border-0 border-bottom shadow-sm overflow-hidden">
          <div class="card-body p-0">
            <figure class="m-0 p-0">
              <img
                class="img-fluid"
                loading="lazy"
                src="../../../assets/images/about/Muhammad.png"
                alt="Flora Nyra"
              />
              <figcaption class="m-0 p-4">
                <h4 class="mb-1">Muhammad</h4>
                <p class="text-secondary mb-0">Senior Developer</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card border-0 border-bottom shadow-sm overflow-hidden">
          <div class="card-body p-0">
            <figure class="m-0 p-0">
              <img
                class="img-fluid"
                loading="lazy"
                src="../../../assets/images/about/Miroslav.png"
                alt="Evander Mac"
              />
              <figcaption class="m-0 p-4">
                <h4 class="mb-1">Miroslav</h4>
                <p class="text-secondary mb-0">Project Leadder</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card border-0 border-bottom shadow-sm overflow-hidden">
          <div class="card-body p-0">
            <figure class="m-0 p-0">
              <img
                class="img-fluid"
                loading="lazy"
                src="../../../assets/images/about/Patrik.png"
                alt="Taytum Elia"
              />
              <figcaption class="m-0 p-4">
                <h4 class="mb-1">Patrik</h4>
                <p class="text-secondary mb-0">Team's entertainer</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
