<h2 class="text-center pt-5">Our Mission</h2>
<p class="text.muted text-center">
  Bring together alumni to create a supportive and collaborative community of
  web developers who can share experiences, insights, and resources.
</p>
<div>
  <div class="img-container pt-5">
    <img
      src="https://img2.storyblok.com/f/45434/1440x810/a475752161/hult-graduation2-1440x810.jpg"
      alt=""
      class="img-fluid shadow-lg"
    />
  </div>
</div>
<div>
  <h3 class="text-center pt-5">Web Developer Alumni Well-Being</h3>
</div>
<div class="row justify-content-center pt-5 pb-5">
  <div class="col col-5 col-m-6 col-xs-12">
    <div class="">
      <div class="row">
        <i
          class="fa-solid fa-code about-icon text-end"
          style="color: #e55f06"
        ></i>
        <div>
          <h5>Social Well-Being</h5>
          <p>
            Web developer alumni establishing strong professional relationships
            and a sense of camaraderie within the tech community, both online
            and offline.
          </p>
        </div>
      </div>

      <div class="row">
        <i
          class="fa-solid fa-coins about-icon text-end"
          style="color: #e55f06"
        ></i>
        <div>
          <h5>Financial Well-Being</h5>
          <p>
            Web developer alumni effectively managing their financial matters to
            alleviate stress and enhance financial security as they navigate the
            digital landscape.
          </p>
        </div>
      </div>

      <div class="row">
        <i
          class="fa-solid fa-person about-icon text-end"
          style="color: #e55f06"
        ></i>
        <div>
          <h5>Community Well-Being</h5>
          <p>
            Web developer alumni actively participating in the tech ecosystems
            where they work, enjoying their tech-centric environments, and
            feeling secure while taking pride in the tech communities they
            contribute to.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-5 col-m-6 col-xs-12">
    <div class="">
      <div class="row">
        <i
          class="fa-solid fa-hands-praying about-icon text-end"
          style="color: #e55f06"
        ></i>
        <div>
          <h5>Purpose Well-Being</h5>
          <p>
            Web developer alumni finding fulfillment in their daily work and
            remaining motivated to excel in their tech careers.
          </p>
        </div>
      </div>
      <div class="row">
        <i
          class="fa-solid fa-tree about-icon text-end"
          style="color: #e55f06"
        ></i>
        <div>
          <h5>Mental Well-Being</h5>
          <p>
            Web developer alumni prioritizing mental health, managing stress,
            and fostering a balanced work-life environment for improved overall
            well-being.
          </p>
        </div>
      </div>
      <div class="row">
        <i
          class="fa-solid fa-thumbs-up about-icon text-end"
          style="color: #e55f06"
        ></i>
        <div>
          <h5>Career Growth Well-Being</h5>
          <p>
            Web developer alumni continually expanding their knowledge and
            skills, staying updated with evolving technologies, and experiencing
            personal and professional growth in the dynamic field of web
            development.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Team Member section -->

<section class="bg-light py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center">Our Team</h2>
        <p class="text-secondary mb-5 text-center lead fs-4">
          We are a group of innovative, experienced, and proficient teams. You
          will love to collaborate with us.
        </p>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />
      </div>
    </div>
  </div>

  <div class="container overflow-hidden">
    <div class="row gy-4 gy-lg-0 gx-xxl-5 justify-content-center">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card border-0 border-bottom shadow-sm overflow-hidden">
          <div class="card-body p-0">
            <figure class="m-0 p-0">
              <img
                class="img-fluid"
                loading="lazy"
                src="../../../assets/images/about/Muhammad.png"
                alt="Flora Nyra"
              />
              <figcaption class="m-0 p-4">
                <h4 class="mb-1">Muhammad</h4>
                <p class="text-secondary mb-0">Senior Developer</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card border-0 border-bottom shadow-sm overflow-hidden">
          <div class="card-body p-0">
            <figure class="m-0 p-0">
              <img
                class="img-fluid"
                loading="lazy"
                src="../../../assets/images/about/Miroslav.png"
                alt="Evander Mac"
              />
              <figcaption class="m-0 p-4">
                <h4 class="mb-1">Miroslav</h4>
                <p class="text-secondary mb-0">Project Leadder</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card border-0 border-bottom shadow-sm overflow-hidden">
          <div class="card-body p-0">
            <figure class="m-0 p-0">
              <img
                class="img-fluid"
                loading="lazy"
                src="../../../assets/images/about/Patrik.png"
                alt="Taytum Elia"
              />
              <figcaption class="m-0 p-4">
                <h4 class="mb-1">Patrik</h4>
                <p class="text-secondary mb-0">Team's entertainer</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
