<div class="container-fluid">
  <div
    class="container text-center d-flex flex-column align-items-center justify-content-center py-5"
  >
    <h1>Alumni</h1>
    <p class="w-75">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum voluptatibus
      fugit deserunt est veritatis iusto et autem ducimus asperiores. Voluptate
      itaque facilis, mollitia asperiores tempore libero eius excepturi quasi
      unde!
    </p>
    <button type="button" class="btn btn-primary px-4" routerLink="/alumni">
      More about Alumni
    </button>
  </div>
</div>
