<footer class="bg-black text-light container-fluid ">

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 text-center  pt-4 ">
    <div class="col">
      <h2>Company</h2>
      <ul class="list-unstyled ">
        <li>Immprint</li>
        <li>Term of use</li>
        <li>Privacy Policy</li>
      </ul>
    </div>
    <div class="col">
      <h2>Contact Us</h2>
      <div class="mb-3">
        <input type="text" class="form-control mb-3 " id="exampleFormControlInput1" placeholder="Yor Name">

        <input type="email" class="form-control mb-3 " id="exampleFormControlInput1" placeholder="Your Email">

        <textarea class="form-control mb-3 " id="exampleFormControlTextarea1" placeholder="Write your Message" rows="3"></textarea>
        <button class="btn btn-light ">Send</button>
      </div>
    </div>
    <div class="col">
      <h2>Keep Connected</h2>
      <ul class="list-unstyled ">
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Google</li>
      </ul>
    </div>

  </div>



  <div >
    <p class="text-center ">&copy; Copyrigh.All Rights Reserved.by Team G7 </p>
  </div>
</footer>
