<footer class="bg-black text-light container-fluid">
  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 text-center pt-4 "
  >
    <div class="col d-flex align-items-end justify-content-center ">
      <p >
        &copy; Copyrigh.All Rights Reserved.by Team G7
      </p>
    </div>
    <div class="col mb-3 ">
      <h2>Keep Connected</h2>
      <div>
        <a href="http://www.facebook.com" target="_blank"><img src="assets/images/icons/fb.png" alt=""></a>
        <a href="http://www.twitter.com" target="_blank"><img src="assets/images/icons/twitter.png" alt=""></a>
        <a href="http://www.google.com" target="_blank"><img src="assets/images/icons/google.png" alt=""></a>
        <a href="http://www.youtube.com" target="_blank"><img src="assets/images/icons/youtube.png" alt=""></a>
        <a href="http://www.linkedin.com" target="_blank"><img src="assets/images/icons/link.png" alt=""></a>
       </div>
    </div>
    <div class="col d-flex align-items-end justify-content-center">

        <ul class="  text-light  d-flex list-unstyled text-nowrap ">
          <li class="me-2 "><a class="text-decoration-none text-white" href="#">Terms And Conditions  </a></li>
          <li class="me-2 "><a class="text-decoration-none text-white" href="#">  Privacy policy</a></li>
          <li class="me-2 "><a class="text-decoration-none text-white" href="#">  imprint</a></li>
        </ul>

    </div>
  </div>

</footer>
