<footer class="bg-black text-light container-fluid">
  <div
    class="row text-center pt-4"
  >
  <div class="col col-12 mb-3 ">
    <h2>Keep Connected</h2>
    <div>
      <a href="http://www.facebook.com" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="http://www.twitter.com" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
      <a href="http://www.google.com" target="_blank"><i class="fa-brands fa-google"></i></a>
      <a href="http://www.youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a>
      <a href="http://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
     </div>
  </div>
  <div class="col col-12 col-md-6 d-flex align-items-end justify-content-center">

      <ul class="  text-light  d-flex list-unstyled text-nowrap ">
        <li class="me-2 "><a class="text-decoration-none text-white" href="#">Terms And Conditions  </a></li>
        <li class="me-2 "><a class="text-decoration-none text-white" href="#">Privacy policy</a></li>
        <li class="me-2 "><a class="text-decoration-none text-white" href="#">Imprint</a></li>
      </ul>

  </div>
    <div class="col col-12 col-md-6 d-flex align-items-end justify-content-center ">
      <p >
        &copy; Copyrigh.All Rights Reserved.by Team G7
      </p>
    </div>
  </div>
</footer>
