<div class="container-fluid">
  <div
    class="container text-center d-flex flex-column align-items-center justify-content-center py-5"
  >
    <h1>Upcomming events</h1>
    <p class="w-75">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet voluptas
      nobis hic. Quas, magnam omnis, aliquid nihil dicta odio architecto
      necessitatibus sit assumenda dolor numquam quis, vitae enim rerum laborum
      perferendis? Vitae commodi aliquam laudantium nulla, assumenda
      reprehenderit et vero!
    </p>
    <button type="button" class="btn btn-primary px-4" routerLink="/events">
      More events
    </button>
  </div>
</div>
