nav{
  transition: background-color 0.3s ease-in-out;
  background-color: transparent  ;
  height: 60px;
  position: absolute;
  width: 100%;
  z-index: 1000;

}

.navbar-sticky {
  background-color: #000000; /* Change to your desired background color */
  transition: background-color 0.3s ease-in-out;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;

}
